/*----------|----------|----------|----------|----------|----------|     Généralitées      |----------|----------|----------|----------|----------|----------|----------*/
@font-face {
    font-family: 'Raleway';
    src: url('Police_Raleway/Raleway-VariableFont_wght.eot');
    src: url('Police_Raleway/Raleway-VariableFont_wght.eot?#iefix') format('embedded-opentype'), url('Police_Raleway/Raleway-VariableFont_wght.woff') format('woff'), url('Police_Raleway/Raleway-VariableFont_wght.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 1.3em;
    font-family: 'Raleway', Arial, sans-serif;
    margin : 0 0 0 0;
}

input {
    font-size: 0.8em;
    font-family: 'Raleway', Arial, sans-serif;
}

section {
    margin: 0px;
}
/*----------|----------|----------|----------|----------|----------|     En-tête      |----------|----------|----------|----------|----------|----------|----------*/
header {
    width: 98%;
    margin-left:1%;
    margin-right:1%
}

/*------------------------------|    Menu en Haut logo + Hebergement | Activites | S'inscrire     |------------------------------*/

#Conteneur_menu { /*Menu 1 général en haut : Espacer Logo à gauche et barre de menu à droite*/
    display: flex;
    justify-content:space-between;
    align-items:center;
}

header ul {            /*Menu 1 en haut à droite : Suppression des listes à puces*/
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    padding:0;
}

header li {
    justify-content : space-around;
}

header p {
    font-size: 0.8em;
}

#menu_1 {
    display: flex;
    align-items: center;
}

#menu_1 li, #menu_1 p {
    margin-left:15px;
}

#menu_1 ul{
    display: flex;
    align-items: center;
    width:68%;
}
#menu_1 a {
    text-decoration: none;
    color: rgb(128,128,128);
}

#menu_1 a:hover,#menu_1 a:focus {
    text-decoration: overline;
    color: #0065FC;
}

#inscription p:hover, #inscription p:focus {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
#inscription a {
    text-decoration: none;
    color: rgb(128,128,128);
    font-size:1.3em;
}

/*------------------------------|    Menu Barre de Recherche     |------------------------------*/
#barre_rechercher { /*Barre de recherche : Flex pour aligner les 3 éléments*/
    display: flex;
    justify-content: start;
    height : 30px;
}


#barre_rechercher i { /*Barre de recherche : placement de l'icone localisation*/
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
}


#barre_rechercher input { /*Barre de recherche : hauteur et marges*/
    height: 100%;
    border: none;
}

.bouton_envoi_1 { /*Barre de recherche : Class pour gérer le bouton "Rechercher"*/
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.border { /*Barre de recherche : Class pour gérer la bordure du champ de recherche*/
    border: 1px solid #F2F2F2;
}

.arrondi_gauche { /*Barre de recherche : Class pour gérer le fond de l'icone localisation*/
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width : 35px;
}

.bouton_envoi_2{
    display:none;
}

/*------------------------------|    Menu Filtre     |------------------------------*/

#Filtres {                       /*Barre de Filtres : Gestion Flex*/
    display: flex;
    justify-content: start;
    align-items : center;
    margin-top:1%;
}

#Titre_Filtre {
    flex: 0.05;
}

#barre_filtres {
    display:flex;
    justify-content : space-between;
}


.Bouton_filtre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 35px 35px 35px 35px;
    height: 35px;
    margin-left: 15px;
}

.Bouton_filtre a, .Bouton_filtre a:visited {
    text-decoration: none;
    color: black;
}

.Bouton_filtre a:hover, .Bouton_filtre a:focus {
    text-decoration: none;
    font-weight:bold;
    color: #0065FC;
}

.Bouton_filtre p:last-child{
    margin-right:15px;
}

.Bouton_filtre i {
    color: #0065FC;
}

.bulle {
    background-color: #F2F2F2;
    width: 35px;
    height: 35px;
    border-radius: 35px 35px 35px 35px;
    display:flex;
    justify-content : center;
    align-items: center;
}

/*------------------------------|    Menu Filtre     |------------------------------*/

#infos{
    display:flex;
}

#infos i {
    height: 8px;
    width: 15px;
    color: #0065FC;
    text-align: center;
}

.bulle2 {
    position: relative;
    top: 0px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #F2F2F2;
    margin-right: 5px;
}
/*----------|----------|----------|----------|----------|----------|     Hebergement      |----------|----------|----------|----------|----------|----------|----------*/
#Hebergement {
    display: flex;
    justify-content: space-between;
    height: 800px;
    width:98%;
    margin-left: 1%;
    margin-right: 1%
}

article {
    flex : 0.695;
    border-radius: 15px;
    background-color: #F2F2F2;
    width:100%;
}

article h3{
    margin-top:10px;
    text-indent : 2%;
}

#Annonces1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height:86%;
}

.Bloc_1 {
    width: 30%;
    height: 47%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    overflow: hidden;
}

.Legende_1 {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:10px;
}

.Legende_1 h6 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.Legende_1 p {
    font-size: 0.5em;
    margin-bottom: 2px;
    margin-top: 2px;
}

.Legende_1 i {
    color: #0065FC;

}
/*----------Hebergement gestion des images-------------------------------*/
#Image_bloc_1 {
    background-image: url('./images/hebergements/3_medium/Auberge_lacannebiere.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

.lien {
    display:block;
    width:100%;
    height:100%;
}

#Image_bloc_2 {
    background-image: url('./images/hebergements/3_medium/Hotel_duport.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

#Image_bloc_3 {
    background-image: url('./images/hebergements/3_medium/Hotel_lesmouettes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

#Image_bloc_4 {
    background-image: url('./images/hebergements/3_medium/Hotel_delamer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

#Image_bloc_5 {
    background-image: url('images/hebergements/3_medium/Auberge_lepanier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

#Image_bloc_6 {
    background-image: url('images/hebergements/3_medium/Hotel_amina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 80%;
}

/*----------|----------|----------|----------|----------|----------|     Populaires      |----------|----------|----------|----------|----------|----------|----------*/
aside {
    flex:0.295;
    background-color: white;
    border-radius: 15px;
    background-color: #F2F2F2;
    width:100%;
}

#Populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:45px;
}

aside h3 {
    text-indent : 3%;
    flex:1;
}

#Annonces2 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:86%;
}

.Pop_2 {
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    display:flex;
}

#Image_pop_1 {
    height: 100%;
    width: 50%;
    background-image: url('images/hebergements/3_medium/Lesoleildumatin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

#Image_pop_2 {
    height: 100%;
    width: 50%;
    background-image: url('images/hebergements/3_medium/Aucoeurdeleau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

#Image_pop_3 {
    height: 100%;
    width: 50%;
    background-image: url('images/hebergements/3_medium/Toutbleuetblanc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.Legende_2 {
    margin-top: 2%;
    margin-bottom: 2%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: start;
    padding-left:2%;
    width:50%;
}

    .Legende_2 h6 {
        margin: 0 0 0 0;
    }

    .Legende_2 p {
        font-size: 0.5em;
    }

    .Legende_2 i {
        height: 8px;
        color: #0065FC;
    }


/*----------|----------|----------|----------|----------|----------|     Activites     |----------|----------|----------|----------|----------|----------|----------*/

#Activites {
    height: 500px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%
}

#Ancre_Activites h3 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%
}

    /*------------------------------------------------------Div + Flexbox pour créer les 4 colonnes-------------------------------------------------------------------------------------*/
.bloc_3:nth-child(1) { /*Colonne 1*/
    flex: 0.24;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

.bloc_3:nth-child(2) { /*Conteneur de la colonne 2*/
    flex: 0.24;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
}


.bloc_3:nth-child(3) { /*Colonne 3*/
    flex: 0.24;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}

.bloc_3:nth-child(4) { /*Conteneur de la colonne 4*/
    flex: 0.24;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
}
/*---------------------Div intérieur des Colonnes 2 et 4-----------------------------------------------*/

.int_1:nth-child(1) {
    flex: 0.5;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
}

.int_1:nth-child(2) {
    flex: 0.4;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
}

.int_2:nth-child(1) {
    flex: 0.45;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
}

.int_2:nth-child(2) {
    flex: 0.45;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 5px #F2F2F2;
}


/*---------------------Réglage des images dans les colonnes--------------------------------------------*/

#Image_bloc_3_colonne1 { /*Réglage de l'image en fond d'écran du div----------1*/
    background-size: cover;
    background-image: url('images/activites/3_medium/Vieux_port.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 91%;
    width: auto;
}

#Image_bloc_3_colonne2-1 { /*Réglage de l'image en fond d'écran du div----------2-1*/
    background-image: url('images/activites/3_medium/Port_pomegues.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 84%;
    width: auto;
}

#Image_bloc_3_colonne2-2 { /*Réglage de l'image en fond d'écran du div----------2-2*/
    background-size: cover;
    background-image: url('images/activites/3_medium/Iles_Frioul.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 81%;
    width: auto;
}

#Image_bloc_3_colonne3 { /*Réglage de l'image en fond d'écran du div----------3*/
    background-size: cover;
    background-image: url('images/activites/3_medium/Parc_calanques.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 91%;
    width: auto;
}

#Image_bloc_3_colonne4-1 { /*Réglage de l'image en fond d'écran du div----------4-1*/
    background-size: cover;
    background-image: url('images/activites/3_medium/Notre_dame_de_la_garde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 82%;
    width: auto;
}

#Image_bloc_3_colonne4-2 { /*Réglage de l'image en fond d'écran du div----------4-2*/
    background-size: cover;
    background-image: url('images/activites/3_medium/Parc_longchamp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 82%;
    width: auto;
}

/*-------------------------------------------------------Création des DIV à l'intérieur des Bloc ----------------------------------------------------------------*/

.Legende_3 {
    height:auto;
    margin-left:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.Legende_4 {
    height:auto;
    margin-left: 2%;
    display: flex;
    align-items: baseline;
}

.Legende_4 h5, .Legende_3 h5 {
    margin: 3% 0% 3% 0%;
}

/*----------|----------|----------|----------|----------|----------|     Footer     |----------|----------|----------|----------|----------|----------|----------*/
footer {
    margin-top:3%;
    background-color: #F2F2F2;
    display: flex;
    width:100%;
    font-size:0.8em;
}
footer h5{
    margin-bottom: 10px;
}

footer div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:1%;
}

footer div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer div:nth-child(3) {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------Media Queries-----------------------------------------------------------------------------------*/

@media screen and (min-width:980px) and (max-width:1280px) {

    /*-------------------------------------------------Herbergement------------------------------------------------*/

    #Hebergement {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    article h3 {
        text-align: center;
    }

    #Annonces1 {
        display: flex;
        align-content: space-around;
        height: 950px;
    }

    .Bloc_1 {
        width: 400px;
        height: 300px;
        margin-left: 1%;
        margin-right: 1%
    }

    /*-----------------------------------------------------Populaires---------------------------------------------*/
    #Populaire {
        width: 400px;
        margin: auto;
    }

    #Annonces2 {
        height: 650px;
        align-items: center;
        justify-content:space-around;
    }

    .Pop_2 {
        height: 200px;
        width: 400px;
    }

    #Image_pop_1, #Image_pop_2, #Image_pop_3 {
        width: 50%;
    }

}

@media all and (max-width:980px) {
    /*------------------------------------------HEADER-----------------------------------------------------------------------------------*/

    /*------------------------------Menu-------------------------------------------*/

    #Conteneur_menu { /*Menu 1 général en haut : Espacer Logo à gauche et barre de menu à droite*/
        display: flex;
        flex-wrap: wrap-reverse;
    }

    #logo {
        position: absolute;
        top: 0px;
    }

    #menu_1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
    }

        #menu_1 ul {
            width: 100%;
        }

        #menu_1 a {
            text-decoration: none;
            color: rgb(128,128,128);
            width: 100%;
        }

        #menu_1 a:hover {
            text-decoration: none;
            color: #0065FC;
        }

        #menu_1 a:focus {
            color: #0065FC;
        }

    #inscription a, #inscription a:hover, #inscription a:visited {
        text-decoration: none;
        color: #0065FC;
        font-weight: bold;
    }

    #menu_1 li {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid rgb(128,128,128);
        margin-left: 0px;
    }

        #menu_1 li:hover, #menu_1 li:focus {
            border-bottom: 2px solid #0065FC;
            color: #0065FC;
        }

    /*------------------------------------------------Barre rechercher-------------------------------------------*/

    .bouton_envoi_1 {
        display: none;
    }

    .bouton_envoi_2 {
        background-color: #0065FC;
        border-radius: 0px 10px 10px 0px;
        color: white;
        text-decoration: none;
        border: none;
        display: flex;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    /*----------------------------------------------Filtres-----------------------------------------------------*/

    #Filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    #barre_filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .Bouton_filtre {
        margin: 0px 10px 10px 0px;
    }

    /*----------||-------------------------------||------------------------------------------||---------------------*/
    /*-------------------------------------------------Herbergement------------------------------------------------*/

    #Hebergement {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
        height: auto;
    }

    article h3 {
        text-align: center;
    }

    #Annonces1 {
        display: flex;
        align-content: space-around;
        height: 1950px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .Bloc_1 {
        width:400px;
        height: 300px;
        margin-left: 1%;
        margin-right: 1%
    }


    /*-----------------------------------------------------Populaires---------------------------------------------*/
    #Populaire {
        width: 400px;
        margin: auto;
    }

    #Annonces2 {
        height: 650px;
        align-items: center;
        justify-content: space-around;
    }

    .Pop_2 {
        height: 200px;
        width: 400px;
    }

    #Image_pop_1, #Image_pop_2, #Image_pop_3 {
        width: 50%;
    }
    /*-----------------------------------------------------Activites a Marseille----------------------------------*/
    #Activites {
        flex-direction: column;
        align-items: center;
        height: 1800px;
    }

    #Ancre_Activites h3 {
        width: 400px;
        text-align: center;
        margin: auto;
    }

    .bloc_3:nth-child(1) {
        height: 250px;
        width:400px;
    }



    .bloc_3:nth-child(3) {
        height: 250px;
        width: 400px;
    }


    .int_1:nth-child(1) {
        height: 250px;
        width: 400px;
    }

    .int_1:nth-child(2) {
        height: 250px;
        width: 400px;
    }

    .int_2:nth-child(1) {
        height: 250px;
        width: 400px;
    }

    .int_2:nth-child(2) {
        height: 250px;
        width: 400px;
    }

    /*-----------------------------------------------------------Footer----------------------------------------------------*/

    footer {
        flex-direction: column;
        padding: 2%;
    }
}