/*----------|----------|----------|----------|----------|----------|     Généralitées      |----------|----------|----------|----------|----------|----------|----------*/
body {
    margin: 0px;
    padding : 0px;
}

#Conteneur_Global {
    width: 1000px;
    margin: auto;
    font-size: 1em;
}

section {
    margin: 0px;
}
/*----------|----------|----------|----------|----------|----------|     En-tête      |----------|----------|----------|----------|----------|----------|----------*/
header {
    min-width: 60%;
    width: 100%;
}

/*------------------------------|    Menu en Haut logo + Hebergement | Activites | S'inscrire     |------------------------------*/

#Conteneur_menu {   /*Menu 1 général en haut : Espacer Logo à gauche et barre de menu à droite*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul {            /*Menu 1 en haut à droite : Suppression des listes à puces*/
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

header h3, p{
    margin : 5px;
}

header p {
    font-size: 0.8em;
}

/*------------------------------|    Menu Barre de Recherche     |------------------------------*/

#barre_rechercher {     /*Barre de recherche : Flex pour aligner les 3 éléments*/
    display: flex;
    justify-content: start;
}


#barre_rechercher i {   /*Barre de recherche : placement de l'icone localisation*/
    width: 25px;
    position: relative;
    top: 4px;
    left: 8px;
}

#barre_rechercher input, label {    /*Barre de recherche : hauteur et marges*/
    height: 25px;
    margin: 0px 0px 0px 0px;
}

.bouton_envoi {                     /*Barre de recherche : Class pour gérer le bouton "Rechercher"*/
    background-color: rgb(0,101,252);
    border-radius: 0px 10px 10px 0px;
    font-size: 1em;
    text-align: center;
    color: white;
    text-decoration: none;
    border: none;
}

.border {                           /*Barre de recherche : Class pour gérer la bordure du champ de recherche*/
    border: 1px solid rgb(242,242,242);
}

.arrondi_gauche {                   /*Barre de recherche : Class pour gérer le fond de l'icone localisation*/
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(242,242,242);
}

/*------------------------------|    Menu Filtre     |------------------------------*/

#Filtres ul {                       /*Barre de Filtres : Gestion Flex*/
    list-style-type: none;
    display: flex;
    justify-content: start;
    margin-top: 10px;
    padding: 0px;
}

#Filtres li {
    padding-top: 5px;
    padding-right:10px;
}

#Filtres i {
    position: relative;
    top: 8px;
    height: 25px;
    width: 25px;
    color: rgb(0,101,252);
}

#Filtres span {
    text-align: center;
}

.border_1 {
    border-top: 1px solid rgb(242,242,242);
    border-bottom: 1px solid rgb(242,242,242);
    border-right: 1px solid rgb(242,242,242);
    border-left: 1px solid rgb(242,242,242);
    border-radius: 25px 25px 25px 25px;
    vertical-align: middle;
    padding-left: 35px;
}

.bulle {
    position:relative;
    top:0px;
    left:35px;
    height:35px;
    width:35px;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(242,242,242);
    margin-right:5px;
}

/*------------------------------|    Menu Filtre     |------------------------------*/

#infos{
    display:flex;
}

#infos i {
    height: 8px;
    width: 15px;
    color: rgb(0,101,252);
    text-align: center;
}

.bulle2 {
    position: relative;
    top: 0px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(242,242,242);
    margin-right: 5px;
}
/*----------|----------|----------|----------|----------|----------|     Hebergement      |----------|----------|----------|----------|----------|----------|----------*/
#Hebergement {
    min-width: 60%;
    min-height: 350px;
    width: 100%;
    display: flex;
    padding : 1%;
}

article {
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    background-color: rgb(242,242,242);
    margin-right:5px;
}

article h3{
    margin-top:10px;
}

#Annonces1 {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

#Bloc_1 {
    height: 170px;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    margin-bottom:20px;
}

#Image_bloc_1
{
    height: 120px;
    overflow:hidden;
}

#Bloc_1 img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 0px 0px;
}

#Legende_1 {
    height: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

#Legende_1 h6 {
    margin: 0 0 0 0;
}

#Legende_1 p {
    font-size: 0.5em;
    margin: 1 0 0 0;
}

#Legende_1 i {
    height: 8px;
    color: rgb(0,101,252);
}

/*----------|----------|----------|----------|----------|----------|     Populaires      |----------|----------|----------|----------|----------|----------|----------*/
aside {
    background-color: white;
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
    background-color: rgb(242,242,242);
    margin-left: 5px;
}

#Populaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0px 0px 0px;
}

#Populaire h3 {
    margin-top:0px;
}


#Annonces2 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Bloc_2 {
    height: 100px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid white;
    margin-bottom: 20px;
    display:flex;
}

#Image_bloc_2 {
    height: 100%;
    width:45%;
    overflow: hidden;
}

#Bloc_2 img {
    height: 100%;
    width: auto;
    border-radius: 15px 0px 0px 15px;
}

#Legende_2 {
    margin-top: 2%;
    margin-bottom: 2%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: start;
    padding-left:2%;

}

    #Legende_2 h6 {
        margin: 0 0 0 0;
    }

    #Legende_2 p {
        font-size: 0.5em;
    }

    #Legende_2 i {
        height: 8px;
        color: rgb(0,101,252);
    }


/*----------|----------|----------|----------|----------|----------|     Activites     |----------|----------|----------|----------|----------|----------|----------*/

#Activites {
    background-color: cornflowerblue;
    min-width: 60%;
    height: 300px;
    width: 100%;
    display:flex;
    justify-content : space-between;
}


/*Div principaux x 4u*/

.bloc_3:nth-child(1) {
    background-color: blue;
    flex: 0.8;
    margin-right: 1%;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.bloc_3:nth-child(1) img {
    height: 80%;
    width:auto;
    border-radius: 15px 15px 0px 0px;
}

.bloc_3:nth-child(2) {
    background-color: orange;
    flex: 0.8;
    margin-left: 1%;
    margin-right: 1%;
}

.bloc_3:nth-child(3) {
    background-color: red;
    flex: 0.8;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bloc_3:nth-child(3) img {
    height: 80%;
    width: auto;
    border-radius: 15px 15px 0px 0px;
}

.bloc_3:nth-child(4) {
    background-color: mediumpurple;
    flex: 0.8;
    margin-left: 1%;
}

/* Div secondaire*/


.int_1:nth-child(1) {
    flex: 0.6;
    background-color: saddlebrown;
    border-radius: 15px;
    margin: 0% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.int_1:nth-child(1) img {
    height: 100px;
    width: auto;
    border-radius: 15px 15px 0px 0px;
}

.int_1:nth-child(2) {
    flex: 0.4;
    background-color: orangered;
    border-radius: 15px;
    margin: 4% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.int_1:nth-child(2) img {
    height: 80px;
    width: auto;
    border-radius: 15px 15px 0px 0px;
}

.int_2:nth-child(1) {
    flex: 0.5;
    background-color: purple;
    border-radius: 15px;
    margin: 0% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.int_2:nth-child(1) img {
    height: 100px;
    width: auto;
    border-radius: 15px 15px 0px 0px;
}

.int_2:nth-child(2) {
    flex: 0.5;
    background-color: rebeccapurple;
    border-radius: 15px;
    margin: 4% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.int_2:nth-child(2) img {
    height: 100px;
    width: auto;
    border-radius: 15px 15px 0px 0px;
}

/* Bloc 3*/
/*Colonne 1*/

/*----------|----------|----------|----------|----------|----------|     Footer     |----------|----------|----------|----------|----------|----------|----------*/
footer {
    background-color: #3A3C3D;
    min-height: 150px;
}
